*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    height: 100%;

    background-color: #23252C;
    color: #FFF;

    font-family: 'Inter';
}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile{
    background-color: #1A1B21;

    border-radius: 10px 10px 0 0;
}

.profile > img{
    width: 317px;
    height: 317px;
}

.profile div{
    width: 317px;

    text-align: center;
}

.profile div h1{
    margin-top: 21px;
}

.profile > div h4{
    color: #F3BF99;

    margin-top: 6px;
}

.profile > div h5{
    color: #F5F5F5;

    font-weight: 400;

    margin-top: 9px;
}

.profile .profile-title{
    display: flex;
    justify-content: center;
    gap: 17px;
}

.button-mail{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    margin-top: 15px;

    width: 115px;
    height: 34px;

    background: #FFFFFF;

    border: 1px solid #D1D5DB;
    border-radius: 6px;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.button-linkedin{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    margin-top: 15px;

    background: #5093E2;

    border-radius: 6px;

    width: 115px;
    height: 34px;
    
    color: #FFF;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}


main{
    width: 317px;

    background-color:  #1A1B21;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 33px 30px;
}

main article p {
    font-size: 12px;
}

main article:nth-child(2) h3{
    margin-top: 25px;
}

footer{
    background-color: #161619;

    width: 317px;

    padding: 10px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    border-radius: 0 0 10px 10px;
}